.container{
    background: radial-gradient(circle, rgba(199,161,219,1) 17%, rgba(148,187,233,1) 100%);
}

label{
    width: 200px;
    display: inline-block ;
}
.card{
    border: 0px !important;
    background: transparent !important;
}
.registerbtn {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;  
}

.registerbtn:hover {
    opacity:1;
}
  
hr{
    height:1px;border-width:0;color:gray;background-color:rgb(102, 102, 102)
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: rgb(43, 118, 204);}